/* Target the root element */
.App {
  background-color: rgb(2 6 23);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

.App__header {
  display: flex;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.App__header h1 {
  font-size: 3rem;
  margin: 0;
}

.App__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  padding: 1rem;
}

.App__main__input {
  width: 70%;
  color: black;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: -10px;
}

.App__main__input__buttons {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: -170px;
}

/* Style the search button */
.App__main__input__submit {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 2rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.App__main__input__clear {
  background-color: #dc3545;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 9px;
  opacity: 0.5;
}

.App__main__input__submit:hover,
.App__main__input__clear:hover {
  box-shadow: #fff 0 4px 8px 0;
  opacity: 1;
}

.App__main__input__clear[disabled] {
  opacity: 0.2;
  cursor: default;
}

.App__main__result {
  margin: 5% 5% 0 0;
  align-items: center;
  justify-content: center;
}